html {
  background-image: url("../img/fondo.png");
  background-color: cornsilk;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  display: flex;
  padding-bottom: 10rem;
}

.NavBar {
  display: flex;
  padding: 5rem 18rem;
  flex-shrink: 0;
  color: white;
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration-color: aqua;
  position: fixed;
}

.NavBar img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(216deg) brightness(103%) contrast(103%);
  display: flex;
  position: sticky;
}

.frasePrincipal {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  font-size: 500%;
  font-family: 'Squada One';
}

.fraseSecundaria {
  color: white;
  font-size: 250%;
  font-family: 'Squada One';
}

body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.boton {
  width: 226px;
  height: 59.20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.Rectangle7 {
  width: 226px;
  height: 59px;
  position: absolute;
  bottom: 25rem;
  left: 0;
  background: white;
  border-radius: 20px;
}

.VerMen {
  width: 125.56px;
  height: 47.20px;
  position: absolute;
  bottom: 24.8rem;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 24px;
  font-family: 'Squada One';
  font-weight: 400;
  word-wrap: break-word;
}

.variedad {
  background-image: url("../img/ofrecemos.png");
  opacity: 1;
  background-size: cover;
  width: 120rem;
  background-repeat: no-repeat;
  height: 40rem;
}

.verdecito_UwU{
  background-color: #C6FFDD;
  height: 132rem;
  width: 120rem;
  align-items: center;
  align-content: center;
  /* margin-top: 3rem; */
}
.presentamos{
  /* margin-top: 3rem; */
  background-color: aliceblue;
  height: 128rem;
  width: 100rem;
  display: flex;
  position: absolute;
  left: 37rem;
}
.presentamos h2{
  color: rgb(0, 0, 0);
  padding-left: 20rem;
  font-size: 7rem;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
}


.uno{
  right: 45rem;
  top: 30rem;
}
.dos{
  right: 67rem;
  top: 80rem;
}

.verdeMexa{
  background-image: url("../img/gradiente.png");
  width: 120rem;
  height: 80rem;
  background-repeat: repeat-x;
  top: 500rem;
}
footer{
  margin-bottom: 50rem;
  top: 10rem;
  background-color: black;
  width: 120rem;
  height: 10rem;
  
}
footer h2{
  color: whitesmoke;
  align-items: center;
}

footer img{
  height: 3rem;
  width: 3rem;
}